
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"></meta>  
    <style type="text/css">
      div{
        height: 400px,
        width: 300px
      }
     </style>
   
  </head>
  <ul>
    {%for p in products %}
    <li>
      <h2>{{p.title}}</h2>
      <p>{{p.desciption}}</p>
      <p>{{p.price}}</p>
      <p>{{p.weight}}</p>
      <p>{{p.image.url}}</p>
      <div>
        <img src="{{ p.image.url }}" width="150" height="200" />
      </div>
      
      <hr>
    </li>
    {%endfor%}
  </ul>

  <body>
    <p>Hello worlds</p>
  </body>
</html>
