html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
  color: #1c0c38;
}
.frame-1-ewM {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.icons_buy {
  width: 35px;
  height: 35px;
  /* background-size: cover; */
}
/* .frame-1-ewM .hero-Jm1 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
} */
.header-CV1 {
  margin-bottom: 5.2rem;
  width: 100%;
  height: 133.4rem;
  position: relative;
  flex-shrink: 0;
}
.saffronimage-1-hwZ {
  width: 86.7rem;
  height: 86.7rem;
  position: absolute;
  left: 10%;
  top: 39%;
  object-fit: cover;
  vertical-align: top;
}
.saffron2-1-1ST {
  width: 50.4rem;
  height: 56.2rem;
  position: relative;
  left: 80%;
  top: 18%;
  background-size: 100% 100%;
  background-image: url("../assets/saffron2-1.png");
  border-radius: 25.2rem 25.2rem 0 15.7rem;
}
.saffron4-1-V6j {
  width: 32%;
  height: 27%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}

@media only screen and (max-width: 550px) {
  .cooperation-offer-details-BNB {
    font-size: 14px !important;
  }
  .products-LD1 {
    grid-template-columns: 1fr !important;
  }
  .auto-group-rbjr-g1y {
    width: 550px !important;
    /* row-gap: 0 !important; */
  }
  .navigation-bars-5Kq {
    grid-template-columns: 100% !important;
    justify-items: end !important;
    padding: 10px 0 0 0 !important;
    margin-right: 40px !important;
    width: 95% !important;
  }
  .product-1-o6b {
    width: 370px !important;
    height: 440px !important;
    display: grid;
    justify-items: center !important;
    align-self: center !important;
    row-gap: 0;
  }
  .image-5-wTh {
    width: 280px !important;
    height: 360px !important;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
  }
  .totalCostWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-weight: 700;
    font-size: 10px !important;
    font-family: JetBrains Mono, "Source Sans Pro";
    margin-bottom: 10px;
  }
  .products-module-Rtf {
    width: 280px !important;
    height: 80px !important;
    position: initial !important;
    display: grid !important;
    grid-template-rows: 0% 0% 30% !important;
    padding: 0 !important;
  }

  .product-description-XRu {
    width: 200px;
    display: block !important;
    padding-top: 5px !important;
    font-size: 14px !important;
    padding-left: 10px !important;
  }
  .rub-dzj {
    font-size: 14px !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
  }
  .auto-group-n3nt-NSX {
    column-gap: 1rem !important;
    justify-content: center;
  }
  .auto-group-wat5-Vn3 {
    font-size: 11px !important;
    height: 30px !important;
    width: 6rem !important;
  }
  .auto-group-kkas-fpw {
    font-size: 11px !important;
    height: 30px !important;
    width: 6rem !important;
  }
  .rectangle-5-6QT {
    font-size: 11px !important;
    height: 30px !important;
    width: 6rem !important;
  }
  .saffron-straight-from-iran-Rm5 {
    font-size: 40px !important;
    height: 24% !important;
    position: absolute;
    top: 12%;
    left: 10%;
    display: grid;
    grid-template-rows: 40px 40px !important;
    /* align-items: cet; */
    text-align: left;
    font-size: 4em;
    grid-row-gap: 5px;
    text-transform: capitalize;
    color: #1c0c38;
    font-family: Anton, "Source Sans Pro";
  }
  .from-Iran {
    text-align: -webkit-center;
  }

  .bg-info-wrapper {
    margin-top: 500px !important;
  }
  .bg-row {
    font-size: 14px !important;
    grid-template-columns: 1fr !important;
    grid-row-gap: 20px !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
  }
  .bg-info-content {
    font-size: 12px !important;
  }
  .bg-line-big-p {
    text-align: justify !important;
  }

  /* .offer-block-gRR {
    border-radius: 5rem !important;
    width: 80% !important;
  } */
  #totalPrice {
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
  }
  .cooperation-offer-details-BNB {
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
  }
  .phone_and_name_wrapper {
    grid-template-columns: 100% !important;
    column-gap: 10px !important;
    justify-items: start !important;
  }
  .user_phone_number_form {
    font-size: 10px !important;
  }
  .user_name_form {
    font-size: 10px !important;
    height: 16px !important;
  }
  #phone {
    font-size: 10px !important;
  }
  #username {
    font-size: 10px !important;
    text-align: center !important;
  }
  .you-can-buy-1-gram-for-200-rubles-G8j {
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
    margin-bottom: 10px !important;
    word-spacing: -3.5px;
  }
  .weight-form-input {
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
    width: 35px;
  }
  .price-form-input {
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
  }
  .icon-up {
    width: 25px !important;
  }
  .icon-down {
    width: 25px !important;
  }
  .cooperation-offer-email-input {
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
    letter-spacing: normal !important;
    margin-bottom: 20px !important;
  }
  .cooperation-offer-name-input {
    margin: 0rem 0rem 5.1rem 0rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.224rem;
    color: #000000;
    /* font-family: JetBrains Mono, "Source Sans Pro"; */
    white-space: nowrap;
    flex-shrink: 0;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
    margin-bottom: 20px !important;
  }
  .email-form-input {
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
    width: 140px;
  }
  .buttons-Suh {
    width: calc(100% - 8.2913rem) !important;
    height: 3rem !important;
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
  }
  .bulking-oreder-starts-from-100-grams-Zsq {
    font-size: 10px !important;
    letter-spacing: 0.1px !important;
  }
}

@media only screen and (max-width: 960px) {
  .cooperation-offer-MP9 {
    margin-top: 140%;
  }
  .auto-group-46uh-xZy {
    grid-column-gap: 40px;
  }
  .saffron-straight-from-iran-Rm5 {
    height: 44%;
    position: absolute;
    top: 12%;
    left: 10%;
    display: grid;
    grid-template-rows: 200px 200px;
    /* align-items: cet; */
    text-align: left;
    font-size: 10em;
    grid-row-gap: 5px;
    text-transform: capitalize;
    color: #1c0c38;
    font-family: Anton, "Source Sans Pro";
  }
  .from-Iran {
    text-align: -webkit-center;
  }
}
@media only screen and (min-width: 1440px) {
  .saffron-straight-from-iran-Rm5 {
    /* width: 100%; */
    height: 44%;
    position: absolute;
    top: 12%;
    left: 10%;
    display: grid;
    grid-template-rows: 200px 200px;
    /* align-items: cet; */
    text-align: left;
    font-size: 15em;
    grid-row-gap: 5px;
    text-transform: capitalize;
    color: #1c0c38;
    font-family: Anton, "Source Sans Pro";
  }
}
@media only screen and (max-width: 1440px) {
  /* .cooperation-offer-MP9 {
    margin-top: 25% !important;
  } */
  .saffron-straight-from-iran-Rm5 {
    /* width: 100%; */
    height: 44%;
    position: absolute;
    top: 12%;
    left: 10%;
    display: grid;
    grid-template-rows: 200px 200px;
    /* align-items: cet; */
    text-align: left;
    font-size: 15em;
    grid-row-gap: 5px;
    text-transform: capitalize;
    color: #1c0c38;
    font-family: Anton, "Source Sans Pro";
  }
  .totalCostWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .from-Iran {
    text-align: -webkit-center;
  }

  #list_of_products {
    display: none;
  }
  #productListtitle {
    display: block;
    align-self: center;
    justify-self: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.1rem;
    color: #000000;
    font-family: JetBrains Mono, "Source Sans Pro";
  }
}
#list_of_products {
  display: none !important;
}
@media only screen and (min-width: 2000px) {
  #username {
    text-align: center !important;
  }
  #productListtitle {
    width: 602px !important;
  }

  .saffron-straight-from-iran-Rm5 {
    width: 100%;
    height: 44%;
    position: absolute;
    top: 12%;
    left: 10%;
    display: grid;
    grid-template-rows: 200px 200px;
    /* align-items: cet; */
    text-align: left;
    font-size: 20em;
    grid-row-gap: 5px;
    text-transform: capitalize;
    color: #1c0c38;
    font-family: Anton, "Source Sans Pro";
  }
  .from-Iran {
    text-align: -webkit-center;
  }
  .auto-group-46uh-xZy {
    font-size: 20px;
  }
}

.navigation-bars-5Kq {
  display: grid;
  padding-left: 32%;
  grid-template-columns: 48% 20%;
  position: relative;

  align-items: center;
  height: 10%;
}

.auto-group-46uh-xZy {
  width: 100%;
  height: 100%;
  /* padding-left: 20%; */
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

@media only screen and (max-width: 1440px) {
  .auto-group-46uh-xZy {
    grid-column-gap: 40px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 2000px) {
  #productListtitle {
    font-weight: 1000;
  }
  .auto-group-rbjr-g1y {
    width: 200%;
    display: grid;
    /* grid-template-rows: 1fr 1fr;*/
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 10%;
  }
  #totalPrice {
    text-align: left;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.224rem;
    color: #000000;
    font-family: JetBrains Mono, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
    height: 30px;
    background-color: #faf5fe;
  }
  .totalCostWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    /* width: 600px; */
    text-align: left;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.224rem;
    color: #000000;
    font-family: JetBrains Mono, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
    height: 30px;
    background-color: #faf5fe;
  }

  /* for sumo sized (mac) screens */
  .auto-group-46uh-xZy {
    grid-column-gap: 40px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .ethanshagaei-NCB {
    font-size: 1.4rem !important;
  }
  .item-7-926-484-72-55-ZnT {
    font-size: 1.4rem !important;
  }
  .icons8-app-120-1-6P5 {
    height: 20px !important;
    width: 20px !important;
  }
  .icons8-phone-96-1-t43 {
    height: 20px !important;
    width: 20px !important;
  }
  .footer-t27 {
    height: 120px !important;
  }
  .auto-group-rbjr-g1y {
    width: 370px !important;
    /* row-gap: 0 !important; */
  }
  .products-module-Rtf {
    width: 220px;
  }
  .icons_buy {
    width: 25px;
    height: 25px;
  }
  .header-CV1 {
    height: 45rem;
    margin-bottom: 0;
  }
  .saffronimage-1-hwZ {
    width: 32.7rem;
    height: 32.7rem;
    left: 0%;
    top: 25%;
  }
  .saffron4-1-V6j {
    width: 20%;
    height: 20%;
  }
  .buttons-x67 {
    position: absolute;
    top: 190px;
    left: 12%;
  }
  .auto-group-46uh-xZy {
    width: 80%;
    height: 100%;
    /* padding-left: 20%; */
    text-align: left;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: end !important;
  }
}

.buttons-x67 {
  width: 16.1rem;
  height: 40px;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Actor, "Source Sans Pro";
  align-items: center;
  justify-content: center;
  background-color: #282828;
  border-radius: 0.4rem;
  margin-left: 60px;
}
#totalPrice {
  background-color: #faf5fe;
}

.text-gVy {
  color: #282828;
  font-family: Actor, "Source Sans Pro";
  white-space: nowrap;
}

.text-arF {
  color: #282828;
  font-family: Actor, "Source Sans Pro";
  white-space: nowrap;
}

.text-u7q {
  color: #282828;
  font-family: Actor, "Source Sans Pro";
  white-space: nowrap;
}
.component-kgs {
  margin: 0.667rem 27.038rem 0.667rem 0rem;
  height: calc(100% - 1.3334rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .header-CV1
  .navigation-bars-5Kq
  .component-kgs
  .group-1-rju {
  margin-right: 0.5rem;
  width: 2.6624rem;
  height: 2.6666rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .header-CV1
  .navigation-bars-5Kq
  .component-kgs
  .tian-BnB {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #282828;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

.frame-1-ewM .hero-Jm1 .header-CV1 .navigation-bars-5Kq .options-Rpw .text-RM5 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.1rem;
  color: #282828;
  font-family: Actor, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

.auto-group-iitb-cAf {
  margin-bottom: 8.1rem;
  position: relative;
  flex-shrink: 0;
}
.cooperation-offer-MP9 {
  /* width: 100%; */
  display: grid;
  align-items: flex-start;
}

@media only screen and (max-width: 550px) {
  .offer-block-gRR {
    box-sizing: border-box;
    padding: 6% 6% 3% 5%;
    width: 85%;
    align-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1rem 2rem 0.4rem rgba(231, 194, 194, 0.3100000024);
    background-color: rgba(232, 206, 252, 0.200000003);
    border-radius: 5.6rem;
    flex-shrink: 0;
  }
  #prductListWrapper {
    display: none;
    width: 300px;
    border: #6b2a9d 1px solid;
  }
}

@media only screen and (min-width: 551px) {
  .offer-block-gRR {
    box-sizing: border-box;
    padding: 6% 6% 3% 5%;
    margin-top: 20%;
    /* width: 65%; */
    align-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1rem 2rem 0.4rem rgba(231, 194, 194, 0.3100000024);
    background-color: rgba(232, 206, 252, 0.200000003);
    border-radius: 9.6rem;
    flex-shrink: 0;
  }
  #prductListWrapper {
    display: none;
    width: 600px;
    border: #6b2a9d 1px solid;
  }
}

.customerForm {
  display: grid;
}

.cooperation-offer-details-BNB {
  margin: 0rem 0rem 5.1rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.cooperation-offer-name-input {
  margin: 0rem 0rem 5.1rem 0rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

#hiden_price_retail {
  display: none;
}
#hiden_price_bulk {
  display: none;
}
#hiden_weight_bulk {
  display: none;
}

.cooperation-offer-email-input {
  margin: 0rem 0rem 5.1rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

.email-form-input {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  background-color: #faf5fe;
  border-bottom: 1px solid rgb(162, 153, 153);
  white-space: nowrap;
  flex-shrink: 0;
}

.weight-form-input {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  background-color: #faf5fe;
}

.price-form-input {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  background-color: #faf5fe;
}
.weight-form-block {
  display: grid;
  justify-items: center;
}

.you-can-buy-1-gram-for-200-rubles-G8j {
  margin: 0rem 0.503rem 4.4rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .you-can-buy-1-gram-for-200-rubles-G8j
  .you-can-buy-1-gram-for-200-rubles-G8j-sub-1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  text-decoration-line: underline;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
}

.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .you-can-buy-1-gram-for-200-rubles-G8j
  .you-can-buy-1-gram-for-200-rubles-G8j-sub-3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  text-decoration-line: underline;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
}

.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .you-can-buy-100-gram-for-15000-rubles-Yts {
  margin: 0rem 0.704rem 12.2rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .you-can-buy-100-gram-for-15000-rubles-Yts
  .you-can-buy-100-gram-for-15000-rubles-Yts-sub-0 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: JetBrains Mono, "Source Sans Pro";
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .you-can-buy-100-gram-for-15000-rubles-Yts
  .you-can-buy-100-gram-for-15000-rubles-Yts-sub-1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: JetBrains Mono, "Source Sans Pro";
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .you-can-buy-100-gram-for-15000-rubles-Yts
  .you-can-buy-100-gram-for-15000-rubles-Yts-sub-2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: JetBrains Mono, "Source Sans Pro";
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .you-can-buy-100-gram-for-15000-rubles-Yts
  .you-can-buy-100-gram-for-15000-rubles-Yts-sub-3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: JetBrains Mono, "Source Sans Pro";
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .you-can-buy-100-gram-for-15000-rubles-Yts
  .you-can-buy-100-gram-for-15000-rubles-Yts-sub-4 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: JetBrains Mono, "Source Sans Pro";
}

.buttons-Suh {
  margin-bottom: 5%;
  width: calc(100% - 41.2913rem);
  height: 6.1rem;
  color: #ffffff;
  font-size: 25px;
  position: relative;
  background-color: #23027d;
  border-radius: 1rem;
  flex-shrink: 0;
}

.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .buttons-Suh
  .phosphor-icons-caretcircleright-fnT {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  left: 6.65rem;
  top: 1.15rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .cooperation-offer-MP9
  .offer-block-gRR
  .bulking-oreder-starts-from-100-grams-Zsq {
  margin-left: 0.7036rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}

.saffron3-1-cLK {
  width: 38%;
  height: 80%;
  object-fit: cover;
  justify-self: end;
}
.bg-info-wrapper {
  box-sizing: border-box;
  width: 100%;
  row-gap: 1.2rem;
  align-items: center;
  display: block;
  background-color: rgba(232, 206, 252, 0.200000003);
  /* transform: rotate(30deg); */
}
.bg-info-grid-container {
  padding-top: 15%;
  padding-bottom: 5%;
  display: grid;
}
.phone_and_name_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.user_phone_number_form {
  font-size: 24px;
}
.phone_hint {
  display: grid;
  justify-content: center;
  color: rgba(0, 0, 0, 0.300000003);
}
.user_phone_wrapper {
  display: flex;
  justify-content: center;
}
#phone {
  font-size: 24px;
  background-color: #faf5fe;
  text-align: center;
  border-bottom: 1px solid rgb(162, 153, 153);
}
.user_name_form {
  font-size: 24px;
  height: 30px;
}
#username {
  background-color: #faf5fe;
  font-size: 24px;
  border-bottom: 1px solid rgb(162, 153, 153);
}
.bg-row {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 45% 55%;
  column-gap: 5%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  /* transform: rotate(-30deg); */
  /* position: relative; */
}
.bg-info-title {
  display: grid;
  /* border: #000000 2px dashed; */
}
.bg-info-content {
  font-size: 2.4rem;
  text-align: justify;
}
.bg-line-small-p {
  align-self: center;
}
.bg-line-big-p {
  margin: 0 10% 0 10%;
  text-align: center;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.appropirate-season-for-colletion-RYf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.product-description-mcX {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .bg-info-jfq
  .appropirate-season-for-colletion-RYf
  .appropriate-season-for-collection-GJP {
  margin-bottom: 4.6rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM .hero-Jm1 .auto-group-iitb-cAf .bg-info-jfq .drying-methods-mW3 {
  margin: 0rem 2.1rem 0rem 7.65rem;
  width: calc(100% - 9.75rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .bg-info-jfq
  .drying-methods-mW3
  .drying-methods-6HR {
  margin: 0rem 41.5rem 11.8rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .bg-info-jfq
  .drying-methods-mW3
  .collected-stigmas-of-saffron-must-be-dried-in-order-to-store-for-a-long-time-drying-method-mainly-affects-the-quality-and-cost-of-the-product-in-traditional-method-stigmas-have-been-grouped-inside-baskets-which-contained-fine-holes-and-then-hung-from-the-ceiling-of-a-room-with-appropriate-temperature-when-the-color-of-stigmas-changed-to-dark-red-and-they-crashed-between-two-fingers-the-drying-process-comes-to-an-end-this-method-takes-a-long-time-around-1-week-and-for-this-reason-the-producers-sometimes-put-the-saffron-under-sunlight-which-makes-the-product-more-darker-in-the-last-few-years-this-system-is-gradually-losing-ground-and-electric-ovens-are-employed-recently-advanced-method-of-drying-has-been-used-in-which-stigmas-put-on-the-sterile-silk-net-150-200-g-with-a-2-3-cm-layer-in-the-appropriate-distance-to-oven-50-60c-by-using-this-method-the-humidity-of-products-will-be-equal-to-the-standard-13-fast-drying-high-quality-and-less-affected-by-air-pollution-and-mold-are-other-advantages-literature-showed-that-saffron-samples-from-the-countries-such-as-uk-iran-and-india-were-compared-with-values-obtained-from-iso-ts-332-1-as-chemical-requirements-for-saffron-samples-the-results-revealed-that-moisture-content-values-of-samples-from-the-three-countries-were-close-to-the-standard-value-however-the-values-of-indian-saffron-were-slightly-lower-than-others-this-could-be-explained-using-different-drying-procedures-in-different-countries-as-well-as-climate-differences-QZ1 {
  max-width: 53.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-1-ewM .hero-Jm1 .auto-group-iitb-cAf .bg-info-jfq .auto-group-dfx9-66P {
  margin-right: 2.1rem;
  width: 126.25rem;
  height: 87.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .bg-info-jfq
  .auto-group-dfx9-66P
  .packaging-and-storage-ECb {
  width: 124.55rem;
  height: 43.2rem;
  position: absolute;
  left: 1.7rem;
  top: 44.1rem;
  display: flex;
  align-items: center;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .bg-info-jfq
  .auto-group-dfx9-66P
  .packaging-and-storage-ECb
  .packaging-and-storage-YUB {
  margin: 1rem 35.65rem 0rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .bg-info-jfq
  .auto-group-dfx9-66P
  .packaging-and-storage-ECb
  .the-most-important-factors-that-cause-decomposition-or-reduce-the-quality-are-as-follows-humidity-of-product-and-relative-air-humidity-temperature-of-the-surroundings-direct-sunlight-oxygen-and-quality-of-packages-it-is-clear-that-the-lower-the-temperature-and-humidity-the-higher-the-quality-packaging-with-polystyrene-covered-by-cellophane-mxxt-grade-polyvinylidene-chloride-coated-can-decrease-the-time-of-storage-color-resistance-in-relative-humidity-of-5-23-is-higher-and-mainly-decrease-in-75-steryl-glycosides-of-saffron-are-strongly-influenced-by-high-temperature-humidity-and-oxygen-and-then-decreased-in-the-product-because-of-the-glucosidase-activation-qTH {
  max-width: 53.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .bg-info-jfq
  .auto-group-dfx9-66P
  .methods-for-purity-UuZ {
  width: 126.15rem;
  height: 48rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .bg-info-jfq
  .auto-group-dfx9-66P
  .methods-for-purity-UuZ
  .there-are-various-methods-used-to-detect-the-adulterants-in-saffron-products-when-the-saffron-product-is-disperse-in-water-it-immediately-changes-to-a-characteristic-form-that-is-simply-distinguished-from-crocus-stamens-florets-safflower-marigold-or-arnica-in-addition-true-saffron-should-easily-dissolve-in-aqueous-phase-and-spread-the-special-odor-of-saffron-if-the-water-extract-of-true-saffron-is-dried-and-a-rod-dipped-in-sulfuric-acid-is-drawn-across-the-surface-a-blue-color-appears-and-turns-purple-or-reddish-brown-other-detection-methods-include-color-reactions-microscopic-study-thin-layer-chromatography-tlc-and-high-performance-liquid-chromatography-hplc-hplc-is-considered-the-most-effective-one-Ds9 {
  margin-right: 19.85rem;
  max-width: 52.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .bg-info-jfq
  .auto-group-dfx9-66P
  .methods-for-purity-UuZ
  .methods-for-purity-determination-r2w {
  margin-bottom: 4.6rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.224rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.products-LD1 {
  display: grid;
  justify-content: center;
  row-gap: 20px;
  grid-template-columns: calc(50% - 50px) calc(50% - 50px);

  column-gap: 20px;
  align-content: space-around;
}

@media screen and (max-width: 1209px) {
  .auto-group-rbjr-g1y {
    width: 200%;
    display: grid;
    /* grid-template-rows: 1fr 1fr;*/
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10%;
  }
}
@media screen and (min-width: 1210px) {
}

.product-1-o6b {
  height: 632px;
  width: 53.1rem;
  position: relative;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-1-o6b
  .image-5-wTh {
  width: 53.1rem;
  height: 60.1rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 117.804%;
  background-position: 0 -10.7rem;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-1-o6b
  .products-module-Rtf {
  box-sizing: border-box;
  padding: 1.8rem 2.9rem 1.8rem 2.5rem;
  width: 53.1rem;
  height: 16.3rem;
  position: absolute;
  left: 0;
  top: 46.9rem;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e8cefc;
  border-radius: 0 0 2rem 2rem;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-1-o6b
  .products-module-Rtf
  .product-description-XRu {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #1c0c38;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-1-o6b
  .products-module-Rtf
  .rub-dzj {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-1-o6b
  .products-module-Rtf
  .auto-group-n3nt-NSX {
  margin-left: 0.4rem;
  height: 4.5rem;
  display: flex;
  column-gap: 3.4rem;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-1-o6b
  .products-module-Rtf
  .auto-group-n3nt-NSX
  .auto-group-wat5-Vn3 {
  width: 13.5rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-1-o6b
  .products-module-Rtf
  .auto-group-n3nt-NSX
  .auto-group-kkas-fpw {
  width: 13.5rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-1-o6b
  .products-module-Rtf
  .auto-group-n3nt-NSX
  .rectangle-5-6QT {
  width: 13.5rem;
  height: 4.5rem;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.product-2-kV1 {
  box-sizing: border-box;
  padding-top: 46.9rem;
  width: 53.1rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/image-2-bg.png");
  border-radius: 2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-2-kV1
  .products-module-Hjq {
  box-sizing: border-box;
  padding: 1.8rem 0.9rem 1.8rem 2.5rem;
  width: 100%;
  height: 100%;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e8cefc;
  border-radius: 0 0 2rem 2rem;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-2-kV1
  .products-module-Hjq
  .product-description-D7h {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-2-kV1
  .products-module-Hjq
  .rub-jrj {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-2-kV1
  .products-module-Hjq
  .auto-group-kfup-5Qo {
  margin-left: 0.4rem;
  height: 4.5rem;
  display: flex;
  column-gap: 3.4rem;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-2-kV1
  .products-module-Hjq
  .auto-group-kfup-5Qo
  .auto-group-hxcb-Qxs {
  width: 13.5rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-2-kV1
  .products-module-Hjq
  .auto-group-kfup-5Qo
  .auto-group-runj-Tw9 {
  width: 13.5rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-rbjr-g1y
  .product-2-kV1
  .products-module-Hjq
  .auto-group-kfup-5Qo
  .rectangle-5-jNs {
  width: 13.5rem;
  height: 4.5rem;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}

.poduct-3-iVh {
  width: 53.1rem;
  /* height: 100%; */
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .poduct-3-iVh
  .image-4-fQw {
  width: 53.1rem;
  height: 46.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem 3rem 0 0;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .poduct-3-iVh
  .products-module-bZV {
  box-sizing: border-box;
  padding: 1.8rem 2.9rem 1.8rem 2.5rem;
  width: 100%;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e8cefc;
  border-radius: 0 0 2rem 2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .poduct-3-iVh
  .products-module-bZV
  .product-description-vLs {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .poduct-3-iVh
  .products-module-bZV
  .rub-3RV {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .poduct-3-iVh
  .products-module-bZV
  .auto-group-bf79-mMV {
  margin-left: 0.4rem;
  height: 4.5rem;
  display: flex;
  column-gap: 3.4rem;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .poduct-3-iVh
  .products-module-bZV
  .auto-group-bf79-mMV
  .auto-group-vn75-WK5 {
  width: 13.5rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .poduct-3-iVh
  .products-module-bZV
  .auto-group-bf79-mMV
  .auto-group-gk3u-wvB {
  width: 13.5rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .poduct-3-iVh
  .products-module-bZV
  .auto-group-bf79-mMV
  .rectangle-5-Dsh {
  width: 13.5rem;
  height: 4.5rem;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .product-4-tiw {
  width: 53.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .product-4-tiw
  .image-3-F3h {
  width: 53.1rem;
  height: 47.436rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3rem 3rem 0 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .product-4-tiw
  .products-module-mnj {
  box-sizing: border-box;
  padding: 1.8rem 2.9rem 1.8rem 2.5rem;
  width: 53.1rem;
  height: 16.3rem;
  position: absolute;
  left: 0;
  top: 46.9rem;
  row-gap: 1.7rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #e8cefc;
  border-radius: 0 0 2rem 2rem;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .product-4-tiw
  .products-module-mnj
  .product-description-ft7 {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .product-4-tiw
  .products-module-mnj
  .rub-zvP {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .product-4-tiw
  .products-module-mnj
  .auto-group-fkmd-YBD {
  margin-left: 0.4rem;
  height: 4.5rem;
  display: flex;
  column-gap: 3.4rem;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .product-4-tiw
  .products-module-mnj
  .auto-group-fkmd-YBD
  .auto-group-ns23-szB {
  width: 13.5rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .product-4-tiw
  .products-module-mnj
  .auto-group-fkmd-YBD
  .auto-group-22fd-M8f {
  width: 13.5rem;
  height: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .auto-group-iitb-cAf
  .products-LD1
  .auto-group-lbd5-Zco
  .product-4-tiw
  .products-module-mnj
  .auto-group-fkmd-YBD
  .rectangle-5-1U7 {
  width: 13.5rem;
  height: 4.5rem;
  border: solid 0.1rem #6b2a9d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem #bf9adb;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.footer-t27 {
  box-sizing: border-box;
  /* padding: 8.9rem 34rem 6.5rem 35.5rem; */
  width: 100%;
  height: 21.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;
  background-color: #e8cefc;
  flex-shrink: 0;
}
.telegram-Qm9 {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-ewM .hero-Jm1 .footer-t27 .telegram-Qm9 .ethanshagaei-NCB {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM .hero-Jm1 .footer-t27 .telegram-Qm9 .icons8-app-120-1-6P5 {
  margin-left: 0.1rem;
  width: 4.1rem;
  height: 4.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-number-c6X {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-ewM
  .hero-Jm1
  .footer-t27
  .contact-number-c6X
  .item-7-926-484-72-55-ZnT {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.168rem;
  color: #000000;
  font-family: JetBrains Mono, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-ewM .hero-Jm1 .footer-t27 .contact-number-c6X .icons8-phone-96-1-t43 {
  margin-left: 0.1rem;
  width: 3.7rem;
  height: 3.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
